.DS_Store
Thumbs.db
.idea/
*.swp
/vendor/

/laravel/.phpunit.cache
/laravel/node_modules
/laravel/public/build
/laravel/public/hot
/laravel/public/storage
/laravel/storage/*.key
/laravel/vendor
/laravel.env
/laravel.env.backup
/laravel.env.production
/laravel.phpunit.result.cache
/laravelHomestead.json
/laravelHomestead.yaml
/laravelauth.json
/laravelnpm-debug.log
/laravelyarn-error.log
/laravel/.fleet
/laravel/.idea
/laravel/.vscode

/mongodb/data
/mysql/data